.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  /* выше установили ограничения для секции */
}

.logo_place_header {
height: 32px;
width: 228px;
position: absolute;
margin-top: 30px;
margin-right: 64px;
}

.header__title {
line-height: 96px;
max-width: 730px;
font-size: 102px;
padding-left: 64px;
}

.header__subtitle {

}
/* ниже высота и ширина от балды */
.header__main-illustration {
  height: 32px;
  width: 228px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.description {
  margin: 0;
  padding: 0;
}

.description__two-columns {

}

.two-columns__brief {

}

.two-columns__main-text {

}







/* и элемента с модификатором вида ключ-значение (это 4 или 5й блок) */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
